@charset "UTF-8";
*{
 margin: 0;
 padding: 0;
 text-decoration:none;
  font-size: 17px;
  font-family: sans-serif;
  font-weight: bold;
  text-transform: capitalize;
  box-sizing:border-box;
   color: #F7F5F8;

}
body{
max-width: 1400px;
height:1387px;
  background-color:#5A0F99;
  display: grid;
  grid-template-columns:auto auto auto;
  grid-template-rows: auto auto auto;
  grid-template-areas: "logo logo logo nav nav nav nav nav nav nav nav nav" "home home home home home home home home home home home home""footer footer footer footer footer footer footer footer footer footer footer footer";
}
header{

  grid-area: logo;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0px;
    z-index: 100;
  max-height: 125px;
  padding-top:0px;
  background-color: #C6B5FA;

}

nav{
  grid-area: nav;
  position: sticky;
  display: flex;
  justify-content: space-evenly;
  top: 0px;
    z-index: 100;
  border-bottom: 3px solid #C6B5FA;
  background-color: #321E42;
  max-height: 500px;
  padding-bottom: 8px;
  margin-bottom: 59px;
}
main{
  grid-area: home;
      display: grid;
      justify-items:center;
       /* width: 1241px; */
      height: 1000px;
      grid-template-columns:auto auto auto;
      grid-template-rows: auto 400px auto auto;
      grid-template-areas:
      "slide slide slide "
      "left left left ";
      color: #93A0AC;
}
footer{
  grid-area: footer;
  max-height: 500px;
  border-top: 3px solid #C6B5FA;
  padding-bottom:  8px;
  margin-top: 59px;
  display: flex;
  justify-content: space-evenly;
  background-color: #321E42;
}
.slidebar{
  grid-area: left;
      overflow: auto;
      display: flex;
      justify-content: space-between;
      position: relative;
      padding-right:25px;
      width: 1222px;
      height: 100%;
      box-shadow: -5px -17px 20px 5px #101011;
      margin-left: 25px;
      margin-right: 25px;
      top: 49px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;

}
.slidebar div{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  overflow: hidden;
  position: relative;
  background-image: linear-gradient(230deg, #795dd1, #370262);
  margin-left: 20px;
  margin-top: 10px;
  padding-top: 6px;
  width: 172px;
  height: 244px;
  color: #596f83;
  top: 40px;
    border-radius: 22px;
    box-shadow: 20px 15px 20px 0px black;
  transition: transform 0.5s;
}
h1{
margin-right: 86px;
  margin-top: 6px;
  font-size: 18px;
}
.title{
  place-self:start;
box-sizing: content-box;
position: absolute;
text-align: center;
left: 591px;
top:732px;
font-size: 25px;
}
span{
  position: relative;
    right: -76px;
    bottom: 27px;
    margin-right: 0.5px;
}
.screen{
  grid-area: slide;
  box-sizing: content-box;
  display: grid;
  background-color: #321E42;
  border-radius: 10px;
  width: 59%;
  height: 78%;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 25px;
  margin-bottom: 190px;
  justify-items: center;

}
.screen div{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  overflow: hidden;
  position: relative;
  background-image: linear-gradient(230deg, #795dd1, #370262);
  margin-left: -72px;
  margin-top: 10px;
  padding-top: 6px;
  width: 283px;
  height: 348px;
  color: #596f83;
  top: 40px;
  border-radius: 22px;
  box-shadow: 20px 15px 20px 0px black;
  transition: transform 0.5s;
}
.screenimg{
  width: 261px;
  height: 299px;
}
img{
  padding-bottom: 5px;
  padding-top: 15px;
  width: 158px;
height: 190px;
  border-bottom: solid 2.5px #C6B5FA;
}
.linkes a{
  text-align: center;
  display: inline-block;
  background-color: #C6B5FA;
  max-width: calc(500px/2);
  width:115px;
  padding: calc(115px/6);
  margin: calc(115px/6);
  border-radius: 16px;
  box-shadow: 4px 4px 5px 4.5px #101011;

}
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #321E42;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb{
  border-radius: 50px;
  background-color: #DFEB15;

}
.slidebar div:hover{
  transform: translateY(-10px);
  background-image: linear-gradient(180deg, pink,purple);
}
.linkes a:hover{
  background-color:pink;
}

a:visited{
  color: #321E42;
}
